@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  animation-name: bgchange;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-iteration-count: 3;
  animation-direction: reverse;

  /* animation: bgchange 5s linear infinite; */

  position: absolute;
}

@keyframes bgchange {
  0% {
    background-color: red;
    left: 0;
  }
  25% {
    background-color: orange;
    left: 100px;
  }
  50%{
    background-color: blue;
    left: 50px;
  }
  100%{
    background-color: green;
    left: 0px;
}
}
